node_modules
package-lock.json
package.json

.venv
.vscode

/logs/

slackbot.log
courses/CS1083-001.csv
courses/CS2124-001.csv
*.pkl
dataframes/
__pycache__
tokens.py
courses/CS1714-001.csv
courses/DS1111-001.csv
